:host {
    display: block;
    font-family: sans-serif;
    min-width: 300px;
    max-width: 600px;
    margin: 50px auto;
}


button {
    &[disabled] {
        opacity: 0.4;
        border-color: none;
        background-color: transparent;
    }
}

.hand-output {
    background-color: white;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hand-display {
    span {
        font-size: 30px;
        letter-spacing: -0.2em;
        &:not(:last-chuld) {
            margin-right: 20px;
        }
    }
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.columns {
    display: flex;

    > div {
        flex: 0 0 50%;
    }
}

h4 {
    color: navy;
    border-bottom: 1px solid silver;
}