<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Riichi Scorer</span>
        <span class="riichi-spacer"></span>
        <mat-button-toggle-group aria-label="Language" [(value)]="currentLanguage">
            <mat-button-toggle value="0">EN</mat-button-toggle>
            <mat-button-toggle value="1">JP</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar-row>
</mat-toolbar>

<div style="width:650px">
    <button *ngFor="let tile of allTiles" (click)="pushToHand(tile)" [disabled]="hand.length >= 14 || has4Tiles(tile)" style="font-size: 50px">{{handToUnicode([tile])}}</button>
</div>



Hand: <button (click)="hand = []">clear</button>
<div style="font-size: 50px">{{handToUnicode(hand)}}</div> 

<div *ngFor="let m of mahjongs; let index = index">
    
    <h3>Hand {{index + 1}}</h3>
    <div class="hand-output">
        <div class="hand-display">
            <span *ngFor="let c of m.concealed" >
                {{c | tile}}
            </span>
            <span *ngIf="m.pair">
                {{m.pair | tile}}
            </span>
        </div>
    
        <div class="columns">
            <div>
                <h4>Fu</h4>
                <ul>
                    <li *ngFor="let fu of countFu(m)">   
                        <span>

                        </span>
                        <span style="display: inline-block; white-space: nowrap;">
                            {{fu.definition.name[0]}}
                        </span>
                        <span>+{{fu.fu}}</span>

                    </li>
                </ul>
            </div>
        </div>

    <h4>Fu</h4>
    <ul>
        <li *ngFor="let fu of countFu(m)">
            <span>+{{fu.fu}}</span>
            &nbsp;
            <span style="display: inline-block; white-space: nowrap;">
                {{fu.definition.name[0]}}
            </span>
            &nbsp;
            <span style="display: inline-block; white-space: nowrap; color: #666">
                ({{fu.definition.name[1]}})
            </span>

            <span *ngFor="let set of fu.tiles || []" style="border: 1px solid silver; margin: 4px; padding: 4px; font-size: 30px">
                {{handToUnicode(set)}}
            </span>
        </li>
    </ul>

    <h4>Yakus</h4>
    <ul>
        <li *ngFor="let yaku of countYakus(m)">
            <span style="display: inline-block; white-space: nowrap; min-width: 50px; text-align: right">
                {{yaku.fan === 13 ? 'Yakuman' : yaku.fan + ' fan'}} 
            </span>
            &nbsp;
            <span style="display: inline-block; white-space: nowrap;">
                {{yaku.yaku.name[0]}}
            </span>
            &nbsp;
            <span style="display: inline-block; white-space: nowrap; color: #666">
                ({{yaku.yaku.name[1]}})
            </span>
            <ng-container *ngFor="let extra of yaku.extras">
                <br />
                <span style="display: inline-block; white-space: nowrap; min-width: 50px; text-align: right">
                    +1
                </span>
                &nbsp;
                <span style="display: inline-block; white-space: nowrap;">
                    {{extra.name[0]}}
                </span>
            </ng-container>
        </li>
    </ul>
    </div>
</div>