$header-color: #003300;

$primary-color: #1b5e20;
$contrast-text: white;

$accent-color: #142896;
$accent-color-lighter: #5472d3;

$button-color: rgb(221, 221, 221);

$secondary-text: rgba(0, 0, 0, 0.6);


$card-background: white;
$card-border-color: #bbb;