$border-radius: 5px;

$header-color: #003300;

$element-border-color: #D1D1D1;
$element-border: 1px solid $element-border-color;

$primary-color: #1b5e20;
$contrast-text: white;

$accent-color: #142896;
$accent-color-lighter: #5472d3;

$button-color: rgb(221, 221, 221);

$secondary-text: rgba(0, 0, 0, 0.6);


$card-background: white;
$card-border-color: #bbb;


$z-header: 100;
