@import '../src/theming';

html, body {
    height: 100%;
    background-color: #F5F5F5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scorer-spacer {
    flex: 1 1 auto;
}

section {
    display: inline-flex;
    flex-direction: column;

    > h2 {
        background-color: $primary-color;
        color: $contrast-text;
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
    }
    
    .scorer-radio-group[role=group] {
        margin-bottom: 16px;
    }
}

.scorer-radio-group[role=group] {
    overflow: hidden;
    position: relative;
    display: flex;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;

    > legend:first-child {
        position: absolute;
        bottom: 100%;
    }

    > input[type=radio] {
        position: absolute;
        bottom: 100%;
    }

    > label {
        display: block;
        width: 2px;
        flex: 1 1 auto;
        text-align: center;
        background-color: $button-color;
        border: 1px solid #999;
        line-height: 1.75em;
        cursor: pointer;

        &:first-of-type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:not(:first-of-type) {
            margin-left: -1px;
        }

        &:last-of-type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    > input[type=radio][disabled] + label {
        cursor: not-allowed;
        opacity: 0.6
    }

    > input[type=radio]:checked + label {
        background-color: $accent-color;
        color: $contrast-text;
    }

    > input[type=radio]:active + label {
        background-color: $accent-color-lighter;
        color: $contrast-text;
    }

    > input[type=radio]:focus + label {
        z-index: 20;
        border-color: $accent-color-lighter;
    }
}