
<h3>hand {{index + 1}}</h3>

<div class="scorer-computed-hand__tiles">

    <div *ngFor="let meld of winningHand.melds">
        <scorer-tile *ngFor="let tile of meld.tiles" [tile]="tile" size="small" [attr.data-rotated]="meld.claimedTile === tile || null"></scorer-tile>
    </div>
</div>

<div class="scorer-computed-hand__yaku">
    <h4>Yaku <span *ngIf="totalFan > 0">{{totalFan}} Fan</span></h4>
    <ul>
        <ng-container *ngFor="let y of yaku">
            <li>
                {{ y.definition | name }}
                <span *ngIf="totalFan > 0">{{ y.fan }} Fan</span>
            </li>
            <li *ngFor="let extra of y.extras" class="scorer-computed-hand__extra">
                {{ extra | name }}
                <span>+1 Fan</span>
            </li>
        </ng-container>
    </ul>
</div>

<div class="scorer-computed-hand__fu">
    <h4>Fu <span>{{totalFu}} Fu</span></h4>
    <ul>
        <li *ngFor="let fu of fu">
            {{ fu.definition | name }}
            <span>{{ fu.definition.fu }} Fu</span>
        </li>
    </ul>
</div>

<hr />

<div class="scorer-computed-hand__limit">
    {{payment.limit}}
</div>

<div class="scorer-computed-hand__points">
    <div *ngFor="let p of payment.payments">
        {{p.ammount}} from {{p.from}}
    </div>
</div>