
<h3>hand {{index + 1}}</h3>

<div class="scorer-computed-hand__tiles">

    <div *ngFor="let set of mahjong.concealed">
        <scorer-tile *ngFor="let tile of set" [tile]="tile" size="small"></scorer-tile>
    </div>
    <div *ngIf="mahjong.pair">
        <scorer-tile *ngFor="let tile of mahjong.pair" [tile]="tile" size="small"></scorer-tile>
    </div>
    <div *ngFor="let meld of mahjong.melds; let index=index">
        <scorer-tile *ngFor="let tile of meld.tiles" [tile]="tile" size="small" [attr.data-rotated]="index === 1 || null"></scorer-tile>
    </div>
</div>

<div class="scorer-computed-hand__yaku">
    <h4>Yaku <span>{{totalFan}} Fan</span></h4>
    <ul>
        <ng-container *ngFor="let yaku of yaku">
            <li>
                {{ yaku.yaku | name }}
                <span>{{ yaku.fan }} Fan</span>
            </li>
            <li *ngFor="let extra of yaku.extras" class="scorer-computed-hand__extra">
                {{ extra | name }}
                <span>+1 Fan</span>
            </li>
        </ng-container>
    </ul>
</div>

<div class="scorer-computed-hand__fu">
    <h4>Fu <span>{{totalFu}} Fu</span></h4>
    <ul>
        <li *ngFor="let fu of fu">
            {{ fu.definition | name }}
            <span>{{ fu.definition.fu }} Fu</span>
        </li>
    </ul>
</div>

<hr />

<div class="scorer-computed-hand__limit">
    Mangan
</div>

<div class="scorer-computed-hand__points">
    1600 / 3200
</div>