<header>
    <h1>Riichi Scorer</h1>
    <!-- <mat-button-toggle-group aria-label="Language" [(value)]="state.currentLanguage">
        <mat-button-toggle [value]="0">EN</mat-button-toggle>
        <mat-button-toggle [value]="1">JP</mat-button-toggle>
    </mat-button-toggle-group> -->
</header>

<scorer-palette></scorer-palette>

<scorer-hand></scorer-hand>

<scorer-computed-hand *ngFor="let result of state.winningResults || []; let index = index"
    [index]="index"
    [winningHand]="result.winningHand"
    [yaku]="result.yaku"
    [fu]="result.fu"
></scorer-computed-hand>

<scorer-waits [waits]="state.possibleWaits"></scorer-waits>